body{
    direction: rtl;
    text-align: right;

}

.owl-carousel.owl-theme.owl-loaded.owl-drag {
    direction: ltr;
}

.language{
    float: left;
}

.language a{
    color: black !important;
    font-size: 17px;
}

